.resistor-bg-color,
.resistor-body,
.resistor-body::after,
.resistor-body::before {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#deb47d+0,ddc19d+100 */
	background-color: #deb47d;
	/* Old browsers */
}

.resistor-body {
	border-radius: 10px;
	height: 75px;
	position: relative;
	padding-left: 40px;
	padding-right: 40px;
}

.resistor-body::after,
.resistor-body::before {
	width: 40px;
	height: 90px;
	content: " ";
	display: block;
	position: absolute;
	top: -7px;
	border-radius: 25px 40px 40px 25px;
}

.resistor-body::after {
	left: 0;
}

.resistor-body::before {
	right: 0;
	transform: rotateY(180deg);
}

.resistor-body .colors {
	width: 20px;
	height: 75px;
	/* overflow: hidden;
	 */
	position: relative;
}

.resistor-body .colors>span {
	/* transform: rotate(-90deg);
	 display: block;
	 text-align: center;
	 width: $resistor-body-height;
	 */
	text-transform: uppercase;
	text-align: left;
	writing-mode: vertical-rl;
	text-orientation: upright;
	height: 100%;
	font-size: 0.6255rem;
	bottom: -85px;
	left: 3px;
	position: absolute;
}

.resistor-body .colors.none {
	background-color: transparent;
	border: 1px solid #808080 6e;
	border-bottom: none;
	border-top: none;
}

.resistor-body .colors.none>span {
	display: none;
}

.resistor-body .colors.black {
	background-color: #000;
}

.resistor-body .colors.brown {
	background-color: #9c2c2c;
}

.resistor-body .colors.red {
	background-color: #f80909;
}

.resistor-body .colors.orange {
	background-color: #ff8000;
}

.resistor-body .colors.yellow {
	background-color: #f4f400;
}

.resistor-body .colors.green {
	background-color: #008000;
}

.resistor-body .colors.blue {
	background-color: #0080ff;
}

.resistor-body .colors.violet {
	background-color: #8000ff;
}

.resistor-body .colors.gray {
	background-color: #808080;
}

.resistor-body .colors.white {
	background-color: #fff;
}

.resistor-body .colors.gold {
	background-image: url("../public/static/images/gold-bg.jpg");
}

.resistor-body .colors.silver {
	background-image: url("../public/static/images/silver-bg.jpg");
}

.resistor-leads {
	height: 25px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e2e2e2+0,dbdce2+21,f9f9f9+49,dddfe3+80,dbdbdb+100 */
	background: #e2e2e2;
	/* Old browsers */
	background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdce2 21%, #f9f9f9 49%, #dddfe3 80%, #dbdbdb 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e2e2e2 0%, #dbdce2 21%, #f9f9f9 49%, #dddfe3 80%, #dbdbdb 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e2e2e2 0%, #dbdce2 21%, #f9f9f9 49%, #dddfe3 80%, #dbdbdb 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#dbdbdb', GradientType=0);
	/* IE6-9 */
}

.color-selector .text-black,
.color-selector-section .text-black {
	color: #000;
}

.color-selector .text-brown,
.color-selector-section .text-brown {
	color: #9c2c2c;
}

.color-selector .text-red,
.color-selector-section .text-red {
	color: #f80909;
}

.color-selector .text-orange,
.color-selector-section .text-orange {
	color: #ff8000;
}

.color-selector .text-yellow,
.color-selector-section .text-yellow {
	color: #f4f400;
	text-shadow: #9b9b9b 1px 2px;
}

.color-selector .text-green,
.color-selector-section .text-green {
	color: #008000;
}

.color-selector .text-blue,
.color-selector-section .text-blue {
	color: #0080ff;
}

.color-selector .text-violet,
.color-selector-section .text-violet {
	color: #8000ff;
}

.color-selector .text-gray,
.color-selector-section .text-gray {
	color: #808080;
}

.color-selector .text-white,
.color-selector-section .text-white {
	color: #fff;
	text-shadow: #9b9b9b 1px 2px;
}